@font-face {
	font-family: 'Whitney';
	src: url('../fonts/whitneymedium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Whitney';
	src: url('../fonts/whitneybold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
  }

  body{
	font-family: 'Whitney';
  }

  main section img{
	width: 100%;
  }
/* HEADER */

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;

	/* debug */
	background-color: #255ee9;
}


.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-logo{
	display: flex;
	color: white;
	font-size: 1.1rem;
	
	/* debug */
	/* background-color: lightcoral; */
}

.header-logo > *{
	cursor: pointer;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;
	align-items: center;

	
	/* debug */
	/* background-color: goldenrod; */
	/* border: 2px dashed black; */
}

.header-links {
	display: flex;
	flex-grow: 1;
	text-align: center;
	justify-content: center;
	align-items: center;
	
}

.header-links > ul {
	color: white;
    justify-content: center;
    gap: 30px;
	font-size: 1.1rem;
}

.header-login{
	display: flex;
	justify-content: flex-end;
}

.header-login > *{
	display: inline-block;
	background-color: white;
	border: 3px solid white;
	border-radius: 20px;
	text-align: center;
	min-width: 40%;

	cursor: pointer;
	
	
}
/* JUMBOTRON */

.jumbotron {
	padding: 50px 0;
	display: flex;
	justify-content: center;


	/* debug */
	background-image: url('../img/jumbo.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.jumbotron .content {
	display: flex;
	flex-flow: column;
	color: white;
	min-height: 400px;
	width: 50%;
	justify-content: center;
	align-items: center;
	gap: 30px;

	/* debug */
	/* background-color: #ee82ee; */
	/* border: 2px dashed black; */
}

.content > h1 {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}

.content > p {
	font-size: 1.5rem;
	text-align: center;
}

.content-row {
	display: flex;
	gap: 20px;
	min-width: 70%;
	min-height: 50px;
	font-size: 1.2rem;
}

.content-row .download-mac{
	background-color: white;
	border: 1px solid white;
	border-radius: 25px;
	text-align: center;
	min-width: 45%;

	cursor: pointer;
}

.content-row .open-browser{
	background-color: #23272a;
	border: 1px solid #23272a;
	border-radius: 25px;
	text-align: center;
	min-width: 50%;
	
	cursor: pointer;
	color: white;
}

.fa-solid.fa-down-long{
	margin-right: 10px;
}



/* MAIN & SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	display: flex;

	/* debug */
	min-height: 700px;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: #f6f6f6;
}



.main-col {
	flex-grow: 2;

	/* debug */
	/* background-color: cornflowerblue;
	border: 2px dashed black; */
}

.side-col {
	width: 40%;
	padding: 50px;

	/* debug */
	/* background-color: pink;
	border: 2px dashed black; */
}

.side-col > h2{
	font-size: 3rem;
	font-weight: bold;
	border-bottom-style: solid;
	margin-bottom: 20px;
	border-bottom-width: 0px;
}

.side-col > p {
	font-size: 1.3rem;
}

.hilighted-content {
	flex-grow: 1;

	/* debug */
	min-height: 800px;
	/* background-color: forestgreen;
	border: 2px dashed black; */
}

.hilighted-content > h2 {
	padding: 20px;
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}

.hilighted-content > p {
	padding: 10px;
	text-align: center;
	font-size: 1.3rem;
	margin: 0 100px;
}

.ready-box {
	display: flex;
	gap: 20px;
	height: 150px;
	font-size: 1.2rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../img/stars.svg');
	background-repeat: no-repeat;
	background-position: top center;
}

.ready-box > h2{
	font-size: 1.5rem;
	font-weight: bold;
	
}

.ready-box > button{
	background-color: #8ea1e1;
	border: 10px solid #8ea1e1;
	border-radius: 25px;
	text-align: center;
	min-width: 20%;

	color: white;
	cursor: pointer;
}

/* FOOTER */

.footer-main {
	padding-top: 10px;


	/* debug */
	background-color: #23272a;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 25px;
	border-bottom: 2px solid #7289da;

	/* debug */
	min-height: 500px;
}

.footer-main-col {
	display: flex;
	padding: 10px;
	width: calc(100% / 3);
	flex-direction: column;
	align-items: flex-start;
	/* debug */
	/* background-color: #f08080; */
	/* border: 2px dashed black; */
}

.footer-main-col > h4{
	margin-bottom: 20px;
	font-size: 2rem;
	font-weight: 700;
	width: 70%;
	color: #7188d9;
}



.language-selection > *{
	width: 20px;
	color: white;
}

.fa-solid.fa-chevron-down{
	font-size: 0.7rem;
}

.socials-row{
	display: flex;
	margin-top: 20px;
	font-size: 1.3rem;
	color: white;
	gap: 20px;
}

.socials-row > *{
	cursor: pointer;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);

	/* debug */
	/* background-color: #20b2aa; */
	/* border: 2px dashed black; */
}

.footer-col {
	width: 25%;
	padding: 10px;
	/* debug */
	/* background-color: #20b2aa; */
	/* border: 2px dashed white; */
}

.footer-col > h5 {
	margin: 5px 0px;
	color: #7188d9;
}
.footer-col > nav > ul > li {
	margin: 10px 0px;
	color: white;

	cursor: pointer;
}


.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	min-height: 80px;
	padding-bottom: 50px;
	/* debug */
	/* background-color: #7fffd4; */
}

.footer-bottom > button {
	/* padding: 5px 10px; */

	background-color: #8ea1e1;
	border: 10px solid #8ea1e1;
	border-radius: 25px;
	min-width: 10%;
	
	color: white;
	cursor: pointer;

	/* debug */
	/* background-color: #ffb6c1; */
	/* border: 2px dashed black; */
}

.footer-logo{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.footer-logo > div{
	font-size: 1.2rem;
	color:white;
}

